<div class="wrapper">

    <div *ngFor="let minion of minions" class="card" style="width: 18rem;">
        <img src="{{minion.img}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{minion.name}}</h5>
          <p class="card-text">{{minion.bio}}</p>
          <p class="card-text">{{minion.birth}}</p>
          <img *ngIf="minion.side=='de los buenos';else malos" class="align" src="../../assets/img/de los buenos.PNG" alt="">
          <ng-template #malos><img class="align" src="../../assets/img/de los malos.PNG" alt=""></ng-template>
          <a href="#" class="btn btn-primary">Info</a>
        </div>
      </div>

</div>
